:root {
      --bg: #f3f4f6;
    --calc-bg: #ffffff;
    --display-bg: #e5e7eb;
    --btn-bg: #d1d5db;
    --btn-hover: #9ca3af;
    --text: #000;
    --operator: #f59e0b;
    --equal: #10b981;
    --clear: #ef4444;
}

  body.dark {
    --bg: #121212;
    --calc-bg: #1e1e2f;
    --display-bg: #2b2b3c;
    --btn-bg: #3a3a55;
    --btn-hover: #50507a;
    --text: #fff;
  }

  body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    font-family: Arial, sans-serif;
    transition: 0.3s;
  }


  #loader {
  position: fixed;
  inset: 0;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 9999;
}
  .calculator {
    background: var(--calc-bg);
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mode-btn {
    background-color: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .display {
    width: 100%;
    height: 60px;
    margin: 15px 0;
    font-size: 26px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--display-bg);
    color:  var(--text);
  }

  .designed {
    margin-top: -270px;
    margin-left: -50px;
    color: #10b981;
    font-family: fantasy;
  }


  .designed {
    animation: pointdown 1000ms infinite alternate-reverse;
  }

  @keyframes pointdown {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(20px);
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  button {
    height: 55px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background: var(--btn-bg);
    color:  var(--text);
    transition: 0.2s;
  }

  button:hover {
    background-color: var(--btn-hover);
  }

  .operator {
    background-color: orange;
  }

  .equal {
    background: var(--equal);
    grid-column: span 2;
  }

  .clear {
    background: var(--clear);
    grid-column: span 2;
  }